*{
    font-family: 'Segoe UI';
    font-size: 18px;
    margin:0;
    padding: 0;

}
.menuMobile{
    background-image: url(menuMobile.png);
    min-width: 50px !important;
    height: 50px;
    display: none !important;
    background-size: 100% auto;
    background-repeat: inherit;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 50px;
    background: #172f41;
    color: #fff;
}
.header div{
    min-width: 70px;
    max-width: 130px;
    display: flex;
    justify-content: center;
}
.header div:hover{
    height: 100%;
    background: rgb(117, 117, 117);
    justify-items: center;
    display: flex;
    align-items: center;
}
.main{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
    
}
.container{
    overflow: hidden;
    display:flex;
    flex-direction: column;
    margin-top: 10px;
    max-width: 450px;
    width: 90%;
    height: auto;
    border-radius: 5px;
    border:solid 1px #aaa;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    animation: fadein 3s; /* Padrão */
    -webkit-animation: fadein 3s; /* Webkit */
    -moz-animation: fadein 3s; /* Firefox */
    -ms-animation: fadein 3s; /* IE */
}
.title-box{
    background-color:#2b3e4b;
    font-weight: 500;
    color: #fff;

}
.title-box label{
    color: #fff !important;

}
.container .form-linha {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items:center;
    padding-right: 5px;
    padding-left:  5px;
    
    
}
.form-linha label{
    min-width: 70px;
    color: #353535;
}
.inputText{
    width:60%;
    height: 30px;
    border-radius: 5px;
    border: solid 1px #ccc;

}
.button {
    min-width: 100px;
    min-height: 40px;
    width: 32%;
    height: 70%;
    color: #fff;
    background: #e67e22;
    border: 0;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.button:hover{
    box-shadow: 0px 0px 0px #fff;
    color:#ddd;
}
@media only screen and (max-width: 250px) {
    .header{
        justify-content: start;
    }
    .header div{
        display:none ;
        
    }
    .header .menuMobile{
        display:flex !important;
    }
}

@keyframes fadein {
from { opacity: 0.1; }
to { opacity: 1; } /* Padrão */
}
@-moz-keyframes fadein {
from { opacity: 0.1; }
to { opacity: 1; } /* Firefox */
}
@-webkit-keyframes fadein {
from { opacity: 0.1; 
to { opacity: 1; } /* Webkit */
}
@-ms-keyframes fadein {
from { opacity: 0.1; }
to { opacity: 1; } /* IE */
}​

